* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
body {
	position: relative;
	width: 418px;
	height: 11640.77px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	background: #e5e5e5;
}

.block {
	background-image: url("../img/Rectangle\ 9.png");
	background-repeat: no-repeat;
	background-position: 10px 10px;
	height: 900px;
	width: 100%;
	left: 1px;
	top: -3px;
	border-radius: 0px;
	margin: 0px 0px 0px 10px;
}
.figmaimg {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 23px 0 25px;
	padding-top: 31px;
}

.text {
	font-family: Georgia, "Times New Roman", Times, serif;

	color: #ffffff;
	font-size: 48px;
	width: 333px;
	font-weight: 400;
	max-width: 500px;
	min-width: 400px;
	letter-spacing: 0.2px;
	margin: 20px;
	text-align: center;
	display: block;
	font-weight: bold;
	padding: 110px 30px 0px 30px;
}
.text2 {
	width: 265px;
	height: 80px;
	max-height: 80px;
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	max-width: 800px;
	min-width: 400px;
	padding: 40px 20px 0px 80px;
}

.textbutton {
	margin: 90px 10px 0px 110px;
	background: #2091f9;
	border-radius: 35px;
	line-height: 40px;
	font-weight: 400;
	letter-spacing: 0.2em;
	color: #ffffff;
	width: 236px;
	height: 52px;
	font-family: "Graphik";
}

.chapter:first-child {
	width: 194px;
	height: 55px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 55px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #252b42;
	margin: 40px 20px 0px 120px;
}
.worrds {
	width: 265px;
	height: 10px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
	color: #374754;
	letter-spacing: 0.2px;
	margin: 40px 60px 0px 0px;
}
.photo {
	margin: 100px 0px 0px 20px;
}
.vector {
	margin: 100px 0px 0px 220px;
}
.chapter2 {
	width: 194px;
	height: 56px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1px;
	color: #252b42;
	margin: 20px 0px 0px 160px;
}

.prgh {
	width: 231px;
	height: 100px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #374754;
	margin: 20px 0px 60px 130px;
}
.vector2 {
	margin: 0px 0px 0px 220px;
}

.chapter3 {
	width: 207px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1px;
	color: #252b42;
	margin: 10px 0px 0px 160px;
}
.paragraph {
	width: 231px;
	height: 100px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #374754;
	margin: 20px 0px 60px 130px;
}
.vector3 {
	margin: 0px 0px 0px 220px;
}
.chapter4 {
	width: 144px;
	height: 56px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #252b42;
	margin: 10px 0px 0px 170px;
}

.paragraph2 {
	width: 231px;
	height: 100px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #374754;
	margin: 20px 0px 60px 130px;
}

.organize {
	width: 335px;
	height: 110px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 55px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #252b42;
	margin: 0px 0px 20px 90px;
}

.paragraph3 {
	width: 265px;
	height: 80px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #374754;
	margin: 40px 0px 60px 120px;
}
.button2 {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px 0px;
	width: 236px;
	height: 60px;
	background: #2091f9;
	border: 1px solid #2091f9;
	border-radius: 35px;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	margin: 20px 0px 0px 130px;
}

.laptopphoto {
	background-repeat: no-repeat;
	margin: 60px 0px 0px 60px;
}

.thirdchapter {
	width: 173px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #252b42;
	margin: 100px 0px 0px 150px;
}

.news {
	width: 244px;
	height: 55px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 55px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #252b42;
	margin: 20px 0px 0px 110px;
}
.paragraph4 {
	width: 532px;
	height: 80px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #374754;
	margin: 20px 0px 0px 10px;
}

.photo2 {
	margin: 20px 0px 0px 90px;
}
.sub {
	width: 276px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1px;
	color: #252b42;
	margin: 80px 0px 0px 130px;
}
.figmaland {
	width: 301px;
	height: 25px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.2px;
	color: #374754;
	margin: 10px 0px 0px 120px;
}

.textinput {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 19px 35px;
	gap: 47px;
	width: 353px;
	height: 54px;
	background: #f4f4f4;
	border: 1px solid #e8e8e8;
	border-radius: 39px;
	margin: 60px 0px 0px 80px;
}

.emailbutton {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 17px 35px;
	gap: 10px;
	width: 353px;
	height: 54px;
	background: #2091f9;
	border-radius: 35px;
	color: #ffffff;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	margin: 10px 0px 0px 80px;
}

.partners1 {
	width: 188px;
	height: 55px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 55px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #252b42;
	margin: 200px 0px 0px 150px;
}
.logo {
	width: 532px;
	height: 80px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #374754;
	margin: 20px 0px 0px 10px;
}

.google {
	display: block;
	margin: 20px 0px 0px 120px;
}
.amazon {
	display: block;
	margin: 20px 0px 0px 120px;
}

.microsoft {
	margin: 20px 0px 0px 120px;
}

.partnersbutton {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px 0px;
	width: 236px;
	height: 60px;
	background: #2091f9;
	border: 1px solid #2091f9;
	border-radius: 35px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1px;
	color: #ffffff;
	margin: 70px 0px 0px 140px;
}

.testh1 {
	width: 281px;
	height: 55px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 55px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #252b42;
	margin: 200px 0px 0px 110px;
}

.ibm {
	margin: 100px 0px 0px 180px;
}

.testtext {
	width: 280px;
	height: 51px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 13.5256px;
	line-height: 17px;
	text-align: center;
	letter-spacing: 0.16907px;
	color: #374754;
	margin: 30px 0px 0px 120px;
}

.desphoto {
	margin: 50px 0px 0px 190px;
}

.desphoto {
	background: url("../img/Ellipse\ 2.png") no-repeat;
}

.org {
	width: 75px;
	height: 16px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 10.1442px;
	line-height: 15px;
	letter-spacing: 0.0845349px;
	color: #374754;
	margin: 50px 0px 0px 60px;
}

.desh {
	width: 65px;
	height: 23px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 12.6802px;
	line-height: 23px;
	letter-spacing: 0.16907px;
	color: #252b42;
	margin: 0px 0px 0px 60px;
}

.moreterm {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px 47px;
	width: 276px;
	height: 60px;
	background: #2091f9;
	border-radius: 35px;

	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1px;
	color: #ffffff;
	margin: 100px 0px 0px 120px;
}

.pricing {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px 28px;
	gap: 10px;
	width: 418px;
	height: 2780px;
	background: #252b42;
	margin: 100px 0px 0px 60px;
}

.price {
	width: 158px;
	height: 55px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 55px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 150px 0px 0px 100px;
}

.prgh5 {
	width: 265px;
	height: 80px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 50px 0px 0px 45px;
}

.blockfree {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	gap: 30px;
	width: 335px;
	height: 750px;
	background: #ffffff;
	border: 1px solid #dedede;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	border-radius: 10px;
	margin: 0px 0px 0px 15px;
}

.free3 {
	width: 51px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1px;
	color: #252b42;
}
.freep {
	width: 144px;
	height: 46px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #374754;
}

.zero {
	width: 55px;
	height: 84px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 74px;
	line-height: 84px;
	letter-spacing: 0.2px;
	color: #252b42;
	display: inline;
}

.month {
	width: 78px;
	height: 23px;

	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;

	letter-spacing: 0.1px;

	color: #374754;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	gap: 30px;
	width: 335px;
	height: 607px;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 0.2px;
	color: #252b42;
}

.order__free1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 18px 38px;
	gap: 10px;
	width: 255px;
	height: 56px;
	background: #2091f9;
	border-radius: 35px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: #ffffff;
}

.standart {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	gap: 30px;
	width: 335px;
	height: 750px;
	background: #2091f9;
	border: 1px solid #dedede;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	border-radius: 10px;
	margin: 20px 0px 0px 15px;
}

.st {
	width: 113px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1px;
	color: #ffffff;
	margin: 20px 0px 0px 0px;
}

.prgh6 {
	width: 148px;
	height: 46px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #ffffff;
}

.ten_dollar {
	width: 88px;
	height: 84px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 74px;
	line-height: 84px;
	letter-spacing: 0.2px;
	color: #ffffff;
}

.list_standart {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	gap: 30px;
	width: 335px;
	height: 607px;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 0.2px;
	color: #ffffff;
}

.standart__button {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 18px 38px;
	gap: 10px;
	width: 255px;
	height: 56px;
	background: #ffffff;
	border-radius: 35px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #2091f9;
}

.business {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	gap: 30px;
	width: 335px;
	height: 750px;
	background: #ffffff;
	border: 1px solid #dedede;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	border-radius: 10px;
	margin: 20px 0px 0px 15px;
}

.businesss_chapter {
	width: 104px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1px;
	color: #252b42;
}

.business__paragraph {
	width: 148px;
	height: 46px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #374754;
}

.business__price {
	width: 100px;
	height: 84px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 74px;
	line-height: 84px;
	letter-spacing: 0.2px;
	color: #252b42;
}

.business__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	gap: 30px;
	width: 335px;
	height: 607px;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 0.2px;
	color: #252b42;
}

.business__order {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 18px 38px;
	gap: 10px;
	width: 255px;
	height: 56px;
	background: #2091f9;
	border-radius: 35px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: #ffffff;
}

.contact_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 99px 0px;
	width: 418px;
	height: 1568.99px;
	background: #ffffff;
	margin: 0px 0px 0px 60px;
}
.contact__main {
	width: 252px;
	height: 55px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 55px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #252b42;
	margin: 60px 0px 0px 0px;
}
.paragraph__contact {
	width: 265px;
	height: 80px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #374754;
	margin: 30px 0px 0px 0px;
}

.twitter-iconcl {
	position: relative;
	right: 20px;
	margin: 0px 0px 80px 0px;
}

.in-iconcl {
	position: relative;
	left: 20px;
	margin: 0px 0px 80px 0px;
}

.contact__icon {
	margin: 100px 0px 0px 0px;
}

.location_photo {
	position: relative;
	top: 37px;
}

.location__text {
	position: relative;
	left: 50px;
	width: 293px;
	height: 46px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0.1px;
	color: #374754;
}

.iphone__icon {
	position: relative;
	right: 98px;
	top: 30px;
}
.phone_number {
	position: relative;
	top: 8px;
	right: 50px;
}

.email__photo {
	position: relative;
	right: 60px;
	top: 50px;
}
.email_text {
	position: relative;
	right: 9px;
	top: 33px;
}

.contact_us__block {
	margin: 120px 0px 0px 0px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 52px 49px;
	gap: 45px;
	width: 378px;
	height: 669px;
	background: #ffffff;
	border: 1px solid #dddddd;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	border-radius: 20px;
}

.paragraph__contact__us {
	position: relative;
	left: 85px;

	width: 110px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1px;
	color: #252b42;
}

.name__input {
	display: block;

	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 19px 20px;
	gap: 47px;
	width: 280px;
	height: 54px;
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
	border-radius: 39px;
}
.email_input {
	display: block;

	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 19px 20px;
	gap: 47px;
	width: 280px;
	height: 54px;
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
	border-radius: 39px;
}
.massage__input {
	display: block;

	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 23px 20px;
	gap: 47px;
	width: 280px;
	height: 193px;
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
}
.send__contact__info {
	display: flex;

	flex-direction: column;
	align-items: center;
	padding: 18px 38px;
	gap: 10px;
	width: 145px;
	height: 56px;
	background: #2091f9;
	border-radius: 35px;

	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #ffffff;
}
.footer_info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 107px 0px;
	width: 418px;
	height: 1430.99px;
	background: #252b42;
}

.footer_title_one {
	width: 167px;
	height: 28px;

	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #ffffff;
	margin: 30px 0px 30px 0px;
}
.paragraph_footer-one {
	width: 105px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 10px 0px 10px 0px;
}
.paragraph_footer-two_one {
	width: 80px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 10px 0px 10px 0px;
}
.paragraph_footer-three_one {
	width: 110px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 10px 0px 10px 0px;
}
.paragraph_footer-four_one {
	width: 111px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 10px 0px 10px 0px;
}
.paragraph_footer-five_one {
	width: 122px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 10px 0px 10px 0px;
}
.footer_title_two {
	width: 167px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #ffffff;
	margin: 50px 0px 30px 0px;
}
.paragraph_footer-one_two {
	width: 105px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 10px 0px 10px 0px;
}
.paragraph_footer-two_two {
	width: 80px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 10px 0px 10px 0px;
}
.paragraph_footer-three_two {
	width: 110px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 10px 0px 10px 0px;
}
.paragraph_footer-four_two {
	width: 122px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 10px 0px 10px 0px;
}

.paragraph_footer-five_two {
	width: 120px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
}
.footer_title_three {
	width: 167px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #ffffff;
	margin: 50px 0px 30px 0px;
}
.paragraph_footer-one_three {
	width: 105px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
}
.paragraph_footer-two_three {
	width: 80px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 10px 0px 10px 0px;
}
.paragraph_footer-three_three {
	width: 110px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 10px 0px 10px 0px;
}
.paragraph_footer-four_three {
	width: 111px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 10px 0px 10px 0px;
}
.paragraph_footer-five_three {
	width: 122px;
	height: 28px;
	font-family: "Graphik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #ffffff;
	margin: 10px 0px 10px 0px;
}

.photo_footer__location {
	position: relative;
	top: 30px;
	right: 40px;
}
.footer__location_text {
	position: relative;
	top: 8px;
	left: 3px;
}
.footer__number__photo {
	position: relative;
	top: 40px;
	right: 85px;
}
.footer__nubmer {
	position: relative;
	top: 20px;
	right: 47px;
}

.white_twitter {
	position: relative;
	top: 80px;
	right: 25px;
}

.white_facebook {
	position: relative;
	top: 80px;
}
.white-in {
	position: relative;
	top: 80px;
	left: 25px;
}
